.content-block--cards__inner{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .content-block--cards .card {
    flex-basis: 30%;
  }
}
