<div class="banner banner--image">
  <div class="banner__image">
    {% include '@elements/image' with image|default %}
  </div>
  <div class="banner__content">
    <h1 class="heading-1">{{ heading|default }}</h1>
  </div>
</div>
