<div class="banner banner--image">
  <div class="banner__image">
    {% include '@elements/image' with image|default %}
  </div>
  <div class="banner__content">
    <h2 class="heading-2">{{ heading|default }}</h2>
  </div>
</div>
