.banner--image {
  position: relative;
  display: flex;
  fl3ex-direction: column;
  height: 40vh;
  min-height: 250px;
  --color-heading: #ffffff;
}

.banner--image .banner__image,
.banner--image .banner__image figure:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner--image .banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner--image .banner__image figure:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.banner--image .banner__content {
  position: relative;
  align-self: flex-end;
  padding: 30px;
  z-index: 2;
}

