<div class="masthead">
  <div>
    <a href="{{siteUrl|default}}">{{siteTitle|default('Home')}}</a>
  </div>
  <ul>
    {% for menuItem in menuItems|default({}) %}
      <li><a href="{{menuItem.url}}">{{menuItem.text}}</a></li>
    {% endfor %}
  </ul>
</div>
