:root {
  --color-black: #000;
  --color-gray: #646464;
  --color-white: #fafafa;
  --color-blue--light: #004a59;
  --color-blue--dark: #002f3f;
  --color-orange: #ff7f00;
}

:root, [data-theme] {
  background-color: var(--color-bg);
  color: var(--color-body);
  font-family: var(--font-family-body);
}

:root,
[data-theme="default"] {
  --color-bg: var(--color-white);
  --color-heading: var(--color-blue--dark);
  --color-body: var(--color-black);
  --color-body-anchor: var(--color-blue-light);
  --color-border: var(--color-gray);
  --border-style: 1px dashed var(--color-orange);
  --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-body: Georgia, serif;
}
