{% extends "_layouts/_site" %}
{% hook 'blocks' %}

{% block main %}
    {% if blocks|default %}
        <div class="content-blocks">
        {% for item in blocks|default %}
            {% include '@content-blocks/' ~ item.handle with item.context %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
