.content p, .content li, .content figcaption, .content th, .content td, .content tr {
  color: var(--color-body);
  font-family: var(--font-family-body);
}

.content * + * {
  margin-top: 1.5rem;
}

.content a {
  color: var(--color-body-anchor);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
